# START INFRASTRUCTURE SETUP

# Full Node Connection
export RPC_BASEURL=http://172.17.0.1:8332
export RPC_USERNAME=bitcoin
export RPC_PASSWORD=password

# Fulcrum Indexer
export FULCRUM_API=http://172.17.0.1:3001/v1

# SLP Indexer
export SLP_INDEXER_API=http://localhost:5010

# REST API URL for wallet operations
export LOCAL_RESTURL=http://localhost:5942/v6

# END INFRASTRUCTURE SETUP


# START ACCESS CONTROL

export PORT=5942

# x402 payments required to access this API?
export X402_ENABLED=true
export SERVER_BASE_ADDRESS=0xd32585CE60815654C50CAf350e18de8096061e63
export X402_PRICE_USDC=0.1
export x402_NETWORK=base

# Coinbase CDP Facilitator (for Bazaar registration)
export x402_FACILITATOR_URL=https://api.cdp.coinbase.com/platform/v2/x402
export FACILITATOR_KEY_ID=your_key_id_here
export FACILITATOR_SECRET_KEY=your_secret_key_here

# Basic Authentication required to access this API?
export USE_BASIC_AUTH=true
export BASIC_AUTH_TOKEN=some-random-token

# END ACCESS CONTROL
